<% include header %>
  </head>
  <body class="fixed">
    <div class="wrapper">
      <% include navbar %>
      <!-- Side-Nav-->
      <input id="toggle-sidebar" type="checkbox">
      <aside class="main-sidebar hidden-print">
        <section class="sidebar">
          <!-- Sidebar Menu-->
          <ul class="sidebar-menu">
            <li><a href="/"><i class="fa fa-dashboard"></i><span>Tableau de bord</span></a></li>
            <li><a href="/search"><i class="fa fa-search-plus"></i><span>Recherche avancée</span></a></li>
            <li><a href="/add"><i class="fa fa-edit"></i><span>Ajouter un article</span></a> </li>
            <li><a href="/sales"><i class="fa fa-th-list"></i><span>Ventes</span></a></li>
            <li> <hr style="width:80%"> </li>
            <li><a href="/list"><i class="fa fa-file-text"></i><span>Articles</span></a></li>
            <li><a href="/zero"><i class="fa fa-repeat"></i><span>À renouveler</span></a></li>
            <li><a href="/ordered"><i class="fa fa-truck"></i><span>Commandés, en attente</span></a></li>
            <li class="active"><a href="/bestsales"><i class="fa fa-line-chart"></i><span>Meilleures ventes</span></a></li>
            <li><a href="/stats"><i class="fa fa-pie-chart"></i><span>Statistiques</span></a></li>
            <li><a href="/advanced"><i class="fa fa-laptop"></i><span>Avancé…</span></a></li>
          </ul>
        </section>
      </aside>
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="card">
                <h3 class="card-title">Meilleures ventes</h3>
              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Titre</th>
                    <th>Auteur</th>
                    <th>Vendus</th>
                    <th>En stock</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% for (var i=0; i < books.length; i++) { %>
                  <tr>
                    <td><%= i+1 %></td>
                    <td><a href="/show/<%=books[i]._id%>"><%= books[i].title %></a></td>
                    <td><%= books[i].author %></td>
                    <td><%= books[i].count %></td>
                    <td><%= books[i].amount %></td>
                    <td>
                      <% if (books[i].starred) { %>
                      <a href="/unstar/<%=books[i]._id%>" title="Enlever des favoris" class="btn btn-primary btn-sm star"><i class="fa fa-star"></i></a>
                      <% } else { %>
                      <a href="/star/<%=books[i]._id%>" title="Ajouter aux favoris" class="btn btn-primary btn-sm star"><i class="fa fa-star-o"></i></a>
                      <% } %>
                    </td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Javascripts-->
    <script type="text/javascript" src="/js/lib/bootstrap-native.min.js"></script>
    <script src="/js/main.js?v=2"></script>
    <script type="text/javascript">
        document.querySelector('tbody').addEventListener('click', function clickedOnTbody(e) {
            if (/a|i/i.test(e.target.nodeName) && /star/.test(e.target.className)) {
                handleStar(e);
            }
        })
    </script>
  </body>
</html>
