<% include header %>
  </head>
  <body class="fixed">
    <div class="wrapper">
      <% include navbar %>
      <!-- Side-Nav-->
      <input id="toggle-sidebar" type="checkbox">
      <aside class="main-sidebar hidden-print">
        <section class="sidebar">
          <!-- Sidebar Menu-->
          <ul class="sidebar-menu">
            <li><a href="/"><i class="fa fa-dashboard"></i><span>Tableau de bord</span></a></li>
            <li><a href="/search"><i class="fa fa-search-plus"></i><span>Recherche avancée</span></a></li>
            <li><a href="/add"><i class="fa fa-edit"></i><span>Ajouter un article</span></a> </li>
            <li><a href="/sales"><i class="fa fa-th-list"></i><span>Ventes</span></a></li>
            <li> <hr style="width:80%"> </li>
            <li><a href="/list"><i class="fa fa-file-text"></i><span>Articles</span></a></li>
            <li><a href="/zero"><i class="fa fa-repeat"></i><span>À renouveler</span></a></li>
            <li><a href="/ordered"><i class="fa fa-truck"></i><span>Commandés, en attente</span></a></li>
            <li><a href="/bestsales"><i class="fa fa-line-chart"></i><span>Meilleures ventes</span></a></li>
            <li><a href="/stats"><i class="fa fa-pie-chart"></i><span>Statistiques</span></a></li>
            <li><a href="/advanced"><i class="fa fa-laptop"></i><span>Avancé…</span></a></li>
          </ul>
        </section>
      </aside>
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="card">
              <h3 class="card-title">Articles - Recherche rapide</h3>
              <form action="/quicksearch" method="get">
                  <div class="input-group">
                      <input class="form-control" type="text" name="search" placeholder="ISBN, titre, auteur" aria-labelledby="search">
                      <span class="input-group-btn">
                          <button class="btn btn-primary icon-btn" type="submit" id="search">
                              <i class="fa fa-search"></i> Rechercher
                          </button>
                      </span>
                  </div>
              </form>
            </div>
            <div class="card">
              <h3 class="card-title"><%=cardTitle%></h3>
              <div class="card-body">
                  <% if (typeof subtitle != "undefined") { %>
                  <p>
                    <b> <%=subtitle%> </b>
                  </p>
                  <% } %>
                  <% if (books.length > 0) { %>
                  <table class="table table-condensed">
                    <thead>
                      <tr>
                        <th>Distributeur</th>
                        <th>Titre</th>
                        <th>Auteur</th>
                        <th>Quantité</th>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for (var i=0; i < books.length; i++) { %>
                      <tr>
                        <td><%= books[i].distributor %></td>
                        <td><a href="/show/<%=books[i]._id%>"><%= books[i].title %></a></td>
                        <td><%= books[i].author %></td>
                        <td><%= books[i].amount %></td>
                        <td>
                            <a href="/cart/add/<%=books[i]._id%>" class="btn btn-info btn-sm <%= books[i].amount <= 0 ? 'disabled' : ''%>" title="Ajouter au panier">
                            <i class="fa fa-cart-plus"></i>
                          </a>
                        </td>
                        <td>
                          <% if (books[i].starred) { %>
                          <a href="/unstar/<%=books[i]._id%>" title="Enlever des favoris" class="btn btn-primary btn-sm star"><i class="fa fa-star"></i></a>
                          <% } else { %>
                          <a href="/star/<%=books[i]._id%>" title="Ajouter aux favoris" class="btn btn-primary btn-sm star"><i class="fa fa-star-o"></i></a>
                          <% } %>
                        </td>
                      </tr>
                      <% } %>
                    </tbody>
                  </table>
                  <% } %>
              </div>
              <div class="card-footer text-center">
                <% if (pageCount > 1) { %>
                  <ul class="pagination">
                  <% if (pageNumber === 1) { %>
                  <li class="disabled"><a>«</a></li>
                  <% } else { %>
                  <li><a href="<%=rootURL+'page='+(pageNumber-1)%>">«</a></li>
                  <% } %>
                  <% if (pageCount > 14) {
                    var list = [];
                    var index = 1;
                    var stop = 3;
                    var start = pageCount - 1;

                    if (pageNumber < 7) {
                        stop = Math.max(pageNumber + 3, 6);
                        start = stop + pageCount - 10;
                    } else if (pageCount - pageNumber < 6) {
                        stop = Math.min(8 - pageCount + pageNumber, 6);
                        start = Math.min(pageNumber - 2, pageCount - 4);
                    }

                    for (index = 1; index < stop; index++) {
                        list.push(index);
                    }
                    list.push(0);
                    if (pageNumber > 6 && pageCount - pageNumber > 5) {
                        for (index = pageNumber-2; index < pageNumber+3; index++) {
                            list.push(index);
                        }
                        list.push(0);
                    }
                    for (index = start; index <= pageCount; index++) {
                        list.push(index);
                    }

                    for (var i=0; i < 11; i++) { %>
                        <li<%- list[i] === pageNumber ? ' class="active"' : '' %>>
                            <% if (list[i] === 0) { %>
                            <a>…</a>
                            <% } else { %>
                            <a href="<%=rootURL+'page='+list[i]%>"><%=list[i]%></a>
                            <% } %>
                        </li>
                    <% }
                  } else { %>
                    <% for (var i=1; i <= pageCount; i++) { %>
                    <li<%- i === pageNumber ? ' class="active"' : '' %>><a href="<%=rootURL+'page='+i%>"><%=i%></a></li>
                    <% } %>
                  <% } %>
                  <% if (pageNumber === pageCount) { %>
                  <li class="disabled"><a>»</</a></li>
                  <% } else { %>
                  <li><a href="<%=rootURL+'page='+(pageNumber+1)%>">»</a></li>
                  <% } %>
                  </ul>
                <% } %>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Javascripts-->
    <script type="text/javascript" src="/js/lib/bootstrap-native.min.js"></script>
    <script src="/js/main.js?v=2"></script>
    <script type="text/javascript">
        handleStars('tbody');
    </script>
  </body>
</html>
