<%- include('header') %>
    <link rel="stylesheet" type="text/css" href="/css/pikaday.css">
  </head>
  <body class="fixed">
    <div class="wrapper">
      <%- include('navbar') %>
      <!-- Side-Nav-->
      <input id="toggle-sidebar" type="checkbox">
      <aside class="main-sidebar hidden-print">
        <section class="sidebar">
          <!-- Sidebar Menu-->
          <ul class="sidebar-menu">
            <li><a href="/"><i class="fa fa-dashboard"></i><span>Tableau de bord</span></a></li>
            <li><a href="/search"><i class="fa fa-search-plus"></i><span>Recherche avancée</span></a></li>
            <li><a href="/add"><i class="fa fa-edit"></i><span>Ajouter un article</span></a> </li>
            <li><a href="/sales"><i class="fa fa-th-list"></i><span>Ventes</span></a></li>
            <li> <hr style="width:80%"> </li>
            <li><a href="/list"><i class="fa fa-file-text"></i><span>Articles</span></a></li>
            <li><a href="/bestsales"><i class="fa fa-line-chart"></i><span>Meilleures ventes</span></a></li>
            <li><a href="/stats"><i class="fa fa-pie-chart"></i><span>Statistiques</span></a></li>
            <li><a href="/advanced"><i class="fa fa-laptop"></i><span>Avancé…</span></a></li>
          </ul>
        </section>
      </aside>
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="card">
              <h3 class="card-title">Modifier un article</h3>
              <form class="form-horizontal" method="post" action="/update/<%=_id%>">
                  <div class="card-body">
                      <% if (error === true) { %>
                      <div class="alert alert-dismissible alert-danger fade in">
                        <button class="close" type="button" data-dismiss="alert">×</button>
                        Erreur lors de la modification de <%=title%>.
                      </div>
                      <% } else if (typeof message != 'undefined') { %>
                      <div class="alert alert-dismissible alert-success fade in">
                        <button class="close" type="button" data-dismiss="alert">×</button>
                        <%=message%>
                      </div>
                      <% } %>
                      <div class="row">
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label class="control-label col-md-3" for="type">Type</label>
                                  <div class="col-md-8">
                                      <select class="form-control" name="type" id="type">
                                          <option value="book" <% if (type === "book") { %>selected<% } %>>Livre</option>
                                          <option value="game" <% if (type === "game") { %>selected<% } %>>Jeu</option>
                                          <option value="postcard" <% if (type === "postcard") { %>selected<% } %>>Carte postale</option>
                                          <option value="stationery" <% if (type === "stationery") { %>selected<% } %>>Papeterie</option>
                                          <option value="dvd" <% if (type === "dvd") { %>selected<% } %>>DVD</option>
                                          <option value="unknown" <% if (type === "unknown" || type === undefined) { %>selected<% } %>>Inconnu</option>
                                      </select>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="control-label col-md-3" for="isbn">ISBN</label>
                                  <div class="col-md-8">
                                      <div class="input-group">
                                        <input class="form-control" type="text" id="isbn" name="isbn" maxlength="13" value="<%=isbn%>">
                                        <span class="input-group-btn">
                                          <button class="btn btn-primary icon-btn" type="button" id="search">
                                            <i class="fa fa-search"></i>
                                          </button>
                                        </span>
                                      </div>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="control-label col-md-3" for="author">Auteur</label>
                                  <div class="col-md-8">
                                      <input class="form-control" type="text" id="author" name="author" value="<%=author%>">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="control-label col-md-3" for="title">Titre</label>
                                  <div class="col-md-8">
                                      <input class="form-control" type="text" id="title" name="title" value="<%=title%>">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="control-label col-md-3" for="publisher">Éditeur</label>
                                  <div class="col-md-8">
                                      <input class="form-control" type="text" id="publisher" name="publisher" value="<%=publisher%>">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="control-label col-md-3" for="distributor">Distributeur</label>
                                  <div class="col-md-8">
                                      <input class="form-control" type="text" id="distributor" name="distributor" value="<%=distributor%>">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="control-label col-md-3" for="keywords">Mots-clés</label>
                                  <div class="col-md-8">
                                      <input class="form-control" type="text" id="keywords" name="keywords" value="<%=keywords%>">
                                  </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                  <label class="control-label col-md-3" for="datebought">Date d'achat</label>
                                  <div class="col-md-8">
                                    <input class="form-control" type="text" id="datebought" name="datebought" value="<%=datebought%>" maxlength="10">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="control-label col-md-3" for="comments">Commentaires</label>
                                  <div class="col-md-8">
                                      <textarea class="form-control" type="text" id="comments" name="comments"><%=comments%></textarea>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="control-label col-md-3" for="prix_achat">Prix d'achat</label>
                                  <div class="col-md-8">
                                    <input class="form-control" type="number" id="prix_achat" name="prix_achat" value="<%=prix_achat%>" min="0"
                                        step="0.01">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="control-label col-md-3" for="price">Prix de vente</label>
                                  <div class="col-md-8">
                                    <input class="form-control" type="number" id="price" name="price" value="<%=price%>" min="0" step="0.01">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="control-label col-md-3" for="amount">Quantité</label>
                                  <div class="col-md-8">
                                      <input class="form-control" type="text" id="amount" name="amount" value="<%=amount%>">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="control-label col-md-3" for="tva">TVA</label>
                                  <div class="col-md-8">
                                      <select class="form-control" name="tva" id="tva">
                                          <option value="20" <% if (tva === "20") { %>selected<% } %>>20%</option>
                                          <option value="5.5" <% if (tva === "5.5") { %>selected<% } %>>5.5%</option>
                                          <option value="2.1"<% if (tva === "2.1") { %>selected<% } %>>2.1%</option>
                                          <option value="0"<% if (tva === "0") { %>selected<% } %>>0%</option>
                                      </select>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="card-footer">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="pull-right">
                                  <a class="btn btn-default icon-btn" href="/show/<%=_id%>">
                                      <i class="fa fa-times-circle"></i> Annuler
                                  </a>
                                  &nbsp;
                                  <button class="btn btn-primary icon-btn" type="submit" name="submit" value="Modifier">
                                      <i class="fa fa-check-circle"></i> Modifier
                                  </button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <input type="hidden" name="ordered" value="<%=ordered%>" />
                  <input type="hidden" name="starred" value="<%=starred%>" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Javascripts-->
    <script type="text/javascript" src="/js/lib/bootstrap-native.min.js"></script>
    <script src="/js/lib/pikaday.min.js"></script>
    <script src="/js/main.js?v=2"></script>
    <script type="text/javascript">
      datepicker('datebought');
    </script>
  </body>
</html>
