<%- include('header') %>
    <style>
        .itemList {
            list-style-type: none;
            font-size: 18px;
            padding-right: 20px;
        }

        .favButtons {
            float: right;
        }

        .itemList > li:hover {
            background-color: #e5e5e5;
        }
    </style>
  </head>
  <body class="fixed">
    <div class="wrapper">
      <%- include('navbar') %>
      <!-- Side-Nav-->
      <input id="toggle-sidebar" type="checkbox">
      <aside class="main-sidebar hidden-print">
        <section class="sidebar">
          <!-- Sidebar Menu-->
          <ul class="sidebar-menu">
            <li class="active"><a href="/"><i class="fa fa-dashboard"></i><span>Tableau de bord</span></a></li>
            <li><a href="/search"><i class="fa fa-search-plus"></i><span>Recherche avancée</span></a></li>
            <li><a href="/add"><i class="fa fa-edit"></i><span>Ajouter un article</span></a> </li>
            <li><a href="/sales"><i class="fa fa-th-list"></i><span>Ventes</span></a></li>
            <li> <hr style="width:80%"> </li>
            <li><a href="/list"><i class="fa fa-file-text"></i><span>Articles</span></a></li>
            <li><a href="/bestsales"><i class="fa fa-line-chart"></i><span>Meilleures ventes</span></a></li>
            <li><a href="/stats"><i class="fa fa-pie-chart"></i><span>Statistiques</span></a></li>
            <li><a href="/advanced"><i class="fa fa-laptop"></i><span>Avancé…</span></a></li>
          </ul>
        </section>
      </aside>
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <h3 class="card-title">Favoris</h3>
                <% if (books.length === 0) { %>
                <p>Aucun favori enregistré.</p>
                <% } %>
                <ul class="itemList">
                    <% for (var i=0; i < books.length; i++) {
                    var book = books[i]; %>
                    <li class="">
                        <div>
                            <span class="itemTitle">
                                <a href="/show/<%=book._id%>"><%= book.title %></a>
                            </span>
                            <div class="favButtons">
                                <% if (book.amount > 0) { %>
                                <a href="/cart/add/<%=book._id%>" title="Ajouter au panier"><i class="fa fa-cart-plus"></i></a>
                                <% } %>
                                <a href="/unstar/<%=book._id%>" title="Enlever des favoris"><i class="fa fa-star"></i></a>
                            </div>
                        </div>
                    </li>
                    <% } %>
                </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <h3 class="card-title">Articles - Recherche rapide</h3>
              <form action="/quicksearch" method="get">
                  <div class="input-group">
                      <input class="form-control" type="text" name="search" placeholder="ISBN, titre, auteur" aria-labelledby="search">
                      <span class="input-group-btn">
                          <button class="btn btn-primary icon-btn" type="submit" id="search">
                              <i class="fa fa-search"></i> Rechercher
                          </button>
                      </span>
                  </div>
              </form>

            </div>
            <div class="card">
              <h3 class="card-title">Vendre un article non répertorié</h3>
              <% if (typeof message != 'undefined') { %>
              <div class="alert alert-dismissible alert-success fade in">
                  <button class="close" type="button" data-dismiss="alert">×</button>
                  <%=message%>
              </div>
              <% } %>
              <form class="form-horizontal" method="post" action="/">
                  <div class="form-group">
                      <label class="control-label col-md-3" for="price">Prix</label>
                      <div class="col-md-8">
                          <input class="form-control" type="text" id="price" name="price">
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="control-label col-md-3" for="title">Titre</label>
                      <div class="col-md-8">
                          <input class="form-control" type="text" name="title" id="title" placeholder="Article indépendant" />
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="control-label col-md-3" for="type">Type</label>
                      <div class="col-md-8">
                          <select class="form-control" name="type" id="type">
                              <option value="unknown">Inconnu</option>
                              <option value="book" selected>Livre</option>
                              <option value="game">Jeu</option>
                              <option value="postcard">Carte postale</option>
                              <option value="stationery">Papeterie</option>
                              <option value="dvd">DVD</option>
                          </select>
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="control-label col-md-3" for="tva">TVA</label>
                      <div class="col-md-8">
                          <select class="form-control" name="tva" id="tva">
                              <option value="20">20%</option>
                              <option value="5.5" selected>5.5%</option>
                              <option value="2.1">2.1%</option>
                              <option value="0">0%</option>
                          </select>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-8 col-md-offset-3">
                          <button class="btn btn-primary icon-btn" type="submit" disabled="disabled" id="addToCart">
                              <i class="fa fa-cart-plus"></i> Ajouter au panier
                          </button>
                      </div>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Javascripts-->
    <script type="text/javascript" src="/js/lib/bootstrap-native.min.js"></script>
    <script type="text/javascript">
        var inputPrice = document.getElementById('price');
        var addButton = document.getElementById('addToCart');
        inputPrice.addEventListener('change', function() {
            addButton.disabled = !/^-?\d+([.,]\d+)?$/.test(inputPrice.value);
        });
        function addToCart(a) {
            console.log(a.href);
            var i = a.firstChild;
            if (i.classList.contains('fa-spin')) {
                return;
            }
            i.classList.remove('fa-cart-plus');
            i.classList.add('fa-spinner', 'fa-spin');
            var request = new XMLHttpRequest();
            request.onload = function() {
                i.classList.remove('fa-spinner', 'fa-spin');
                i.classList.add('fa-cart-plus');
                if (request.status >= 200 && request.status < 400) {
                    var badge = document.querySelector('.top-nav .badge');
                    var count = Number(badge.textContent) + 1;
                    badge.textContent = count;
                } else {
                    console.warn('Unable to add to cart');
                }
            }
            request.onerror = function() {
                console.error('Unable to add to cart');
                i.classList.remove('fa-spinner', 'fa-spin');
                i.classList.add('fa-cart-plus');
            }
            request.open('GET', a.href);
            request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            request.send();
        }
        var itemList = document.querySelector('.itemList');
        itemList.addEventListener('click', function clickedOnItem(e) {
            var elem = e.target;
            if (elem.nodeName === 'A' && /\/cart\/add/.test(elem.href)) {
                e.preventDefault();
                addToCart(elem);
            } else if (elem.nodeName === 'I' && /fa-cart-plus/.test(elem.className)) {
                e.preventDefault();
                addToCart(elem.parentNode);
            }
        });
    </script>
  </body>
</html>
