<%- include('header') %>
    <style>
        .bar rect {
            fill: steelblue;
        }

        .bar text {
            fill: #fff;
            font: 10px sans-serif;
        }
    </style>
  </head>
  <body class="fixed">
    <div class="wrapper">
      <%- include('navbar') %>
      <!-- Side-Nav-->
      <input id="toggle-sidebar" type="checkbox">
      <aside class="main-sidebar hidden-print">
        <section class="sidebar">
          <!-- Sidebar Menu-->
          <ul class="sidebar-menu">
            <li><a href="/"><i class="fa fa-dashboard"></i><span>Tableau de bord</span></a></li>
            <li><a href="/search"><i class="fa fa-search-plus"></i><span>Recherche avancée</span></a></li>
            <li><a href="/add"><i class="fa fa-edit"></i><span>Ajouter un article</span></a> </li>
            <li><a href="/sales"><i class="fa fa-th-list"></i><span>Ventes</span></a></li>
            <li> <hr style="width:80%"> </li>
            <li><a href="/list"><i class="fa fa-file-text"></i><span>Articles</span></a></li>
            <li><a href="/zero"><i class="fa fa-repeat"></i><span>À renouveler</span></a></li>
            <li><a href="/ordered"><i class="fa fa-truck"></i><span>Commandés, en attente</span></a></li>
            <li><a href="/bestsales"><i class="fa fa-line-chart"></i><span>Meilleures ventes</span></a></li>
            <li><a href="/stats"><i class="fa fa-pie-chart"></i><span>Statistiques</span></a></li>
            <li><a href="/advanced"><i class="fa fa-laptop"></i><span>Avancé…</span></a></li>
          </ul>
        </section>
      </aside>
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-title-w-btn">
                <h3 class="card-title"><%=title%></h3>
                <div class="btn-group">
                    <% if (typeof starred !== 'undefined' && starred) { %>
                    <a href="/unstar/<%=_id%>" title="Enlever des favoris" class="btn btn-primary star"><i class="fa fa-star"></i></a>
                    <% } else { %>
                    <a href="/star/<%=_id%>" title="Ajouter aux favoris" class="btn btn-primary star"><i class="fa fa-star-o"></i></a>
                    <% } %>
                  <a class="btn btn-info" href="/update/<%= _id %>" title="Modifier"><i class="fa fa-lg fa-edit"></i></a>
                </div>
              </div>
              <div class="card-body">
                <% if (typeof message != 'undefined') { %>
                    <div class="alert alert-dismissible alert-success fade in">
                        <button class="close" type="button" data-dismiss="alert">×</button>
                        <%=message%>
                    </div>
                <% } %>
                <table class="table">
                  <tr>
                    <td>Type</td>
                    <td><%= {book:'Livre', game:'Jeu', postcard:'Carte postale', stationery:'Papeterie'}[type]||'Inconnu' %></td>
                  </tr>
                  <tr>
                    <td>ISBN</td>
                    <td><%= isbn %></td>
                  </tr>
                  <tr>
                    <td>Auteur</td>
                    <td><%= author %></td>
                  </tr>
                  <tr>
                    <td>Titre</td>
                    <td><%= title %></td>
                  </tr>
                  <tr>
                    <td>Éditeur</td>
                    <td><%= publisher %></td>
                  </tr>
                  <tr>
                    <td>Distributeur</td>
                    <td><%= distributor %></td>
                  </tr>
                  <tr>
                    <td>Mots-clés</td>
                    <td><%= keywords %></td>
                  </tr>
                  <tr>
                    <td>Date d'achat</td>
                    <td><%= datebought %></td>
                  </tr>
                  <tr>
                    <td>Commentaires</td>
                    <td><pre><%= comments %></pre></td>
                  </tr>
                  <tr>
                    <td>Prix d'achat</td>
                    <td><% if (prix_achat !== '') { %>
                      <%= prix_achat + '€' %>
                      <% }%></td>
                  </tr>
                  <tr>
                    <td>Prix de vente</td>
                    <td><%= price %>€</td>
                  </tr>
                  <tr>
                    <td>Quantité</td>
                    <td><%= amount %></td>
                  </tr>
                  <tr>
                    <td>TVA</td>
                    <td><%= tva %>%</td>
                  </tr>
                  <tr>
                      <td>Vendu</td>
                      <td><%= count%> fois</td>
                  </tr>
                  <% if (!amount) { %>
                  <tr>
                      <td><strong><%= ordered ? 'Commandé' : 'Non commandé'%>.</strong></td>
                      <td></td>
                  </tr>
                  <% } %>
                </table>
              </div>
              <div class="card-footer">
                <div class="clearfix">
                  <form action="/update/<%=_id%>" method="post" class="form-inline pull-right">
                      <input type="hidden" name="type" value="<%= type %>" />
                      <input type="hidden" name="title" value="<%= title %>" />
                      <input type="hidden" name="price" value="<%= price %>" />
                      <input type="hidden" name="tva" value="<%= tva %>" />
                      <div class="form-group">
                          <label class="control-label" for="quantity">Quantité</label>
                          <input class="form-control" type="number" value="1" name="quantity" id="quantity" min="1" maxlength="3" style="width:5em">
                      </div>
                      <div class="form-group">
                          <button class="btn btn-primary icon-btn" type="submit" name="submit" id="addToCart"
                              value="Ajouter au panier" <% if (!amount) {%> disabled="disabled"<%}%>>
                            <i class="fa fa-cart-plus"></i> Ajouter au panier
                          </button>
                      </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <h3 class="card-title">Articles - Recherche rapide</h3>
              <form action="/quicksearch" method="get">
                  <div class="input-group">
                      <input class="form-control" type="text" name="search" placeholder="ISBN, titre, auteur" aria-labelledby="search">
                      <span class="input-group-btn">
                          <button class="btn btn-primary icon-btn" type="submit" id="search">
                              <i class="fa fa-search"></i> Rechercher
                          </button>
                      </span>
                  </div>
              </form>

            </div>
            <div class="card">
              <h3 class="card-title">Ventes des 12 derniers mois</h3>
              <svg id="salesChart"  data-sales="<%=salesByMonth%>"   class="chart"></svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Javascripts-->
    <script type="text/javascript" src="/js/lib/bootstrap-native.min.js"></script>
    <script type="text/javascript" src="/js/lib/d3.min.js"></script>
    <script src="/js/main.js?v=2"></script>
    <script type="text/javascript">
        var inputQuantity = document.getElementById('quantity');
        var addButton = document.getElementById('addToCart');
        inputQuantity.addEventListener('change', function() {
            addButton.disabled = inputQuantity.value < 1 || inputQuantity.value > <%= amount %>;
        });
        handleStars('.btn-group');

        var shortMonths = ['janv. ', 'févr. ', 'mars ', 'avril ', 'mai ', 'juin ', 'juil. ', 'août ', 'sept. ', 'oct. ', 'nov. ', 'déc.'];

        var dataMonths = JSON.parse(document.getElementById("salesChart").getAttribute("data-sales"))
        dataMonths.forEach(function(month) {
            var monthIndex = month.id.split('-')[1];
            month.id = shortMonths[monthIndex-1];
        });

        var formatCount = d3.format(",.0f")

        var margin = {top: 10, right: 10, bottom: 20, left: 10},
            width = 483 - margin.left - margin.right,
            height = 400 - margin.top - margin.bottom

        var x = d3.scaleBand()
            .domain(dataMonths.map(function(month) { return month.id }))
            .range([0, width])

        function makeSVG(id, height, data, x, xProp, yProp, xWidth, tickFormat) {

            var y = d3.scaleLinear()
                .domain([0, d3.max(data, function(d) { return d[yProp] })])
                .range([height, 0])

            var svg = d3.select("#" + id)
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")")

            var bar = svg.selectAll(".bar")
                .data(data)
                .enter().append("g")
                .attr("class", "bar")
                .attr("transform", function(d) { return "translate(" + x(d[xProp]) + "," + y(d[yProp]) + ")" })

            bar.append("rect")
                .attr("x", 1)
                .attr("width", xWidth - 1)
                .attr("height", function(d) { return height - y(d[yProp]) })

            bar.append("text")
                .attr("dy", ".75em")
                .attr("y", 6)
                .attr("x", xWidth / 2)
                .attr("text-anchor", "middle")
                .text(function(d) { return formatCount(d[yProp]) })

            svg.append("g")
                .attr("class", "axis axis--x")
                .attr("transform", "translate(0," + height + ")")
                .call(d3.axisBottom(x).tickFormat(tickFormat))
        }

        makeSVG("salesChart", height - 100, dataMonths, x, "id", "value", x.bandwidth())

    </script>
  </body>
</html>
