<%- include('header') %>
  </head>
  <body class="fixed">
    <div class="wrapper">
      <%- include('navbar') %>
      <!-- Side-Nav-->
      <input id="toggle-sidebar" type="checkbox">
      <aside class="main-sidebar hidden-print">
        <section class="sidebar">
          <!-- Sidebar Menu-->
          <ul class="sidebar-menu">
            <li><a href="/"><i class="fa fa-dashboard"></i><span>Tableau de bord</span></a></li>
            <li><a href="/search"><i class="fa fa-search-plus"></i><span>Recherche avancée</span></a></li>
            <li><a href="/add"><i class="fa fa-edit"></i><span>Ajouter un article</span></a> </li>
            <li class="active"><a href="/sales"><i class="fa fa-th-list"></i><span>Ventes</span></a></li>
            <li> <hr style="width:80%"> </li>
            <li><a href="/list"><i class="fa fa-file-text"></i><span>Articles</span></a></li>
            <li><a href="/zero"><i class="fa fa-repeat"></i><span>À renouveler</span></a></li>
            <li><a href="/ordered"><i class="fa fa-truck"></i><span>Commandés, en attente</span></a></li>
            <li><a href="/bestsales"><i class="fa fa-line-chart"></i><span>Meilleures ventes</span></a></li>
            <li><a href="/stats"><i class="fa fa-pie-chart"></i><span>Statistiques</span></a></li>
            <li><a href="/advanced"><i class="fa fa-laptop"></i><span>Avancé…</span></a></li>
          </ul>
        </section>
      </aside>
      <div class="content-wrapper">
        <div class="row">
          <% if (typeof stats !== 'undefined') { %>
          <div class="col-md-6">
          <% } else { %>
          <div class="col-md-10 col-md-offset-1">
          <% } %>
            <div class="card">
              <h3 class="card-title"><%=cardTitle%></h3>
              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th><%= typeof stats === 'undefined' ? 'Mois' : 'Jour'%></th>
                    <th>Nombre de ventes</th>
                    <th>Recette totale</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% for (var i=0; i < sales.length; i++) { %>
                  <tr>
                    <td><%= sales[i].date %></td>
                    <td><%= sales[i].count %></td>
                    <td><%= sales[i].amount %>€</td>
                    <td>
                      <a href="/sale/<%=sales[i].date.replace(/\//g,'-')%>" class="btn btn-default icon-btn btn-sm">
                        <i class="fa fa-eye"></i> Détails
                      </a>
                    </td>
                  </tr>
                  <% } %>
                </tbody>
              </table>

            </div>
          </div>
          <% if (typeof stats !== 'undefined') { %>
            <div class="col-md-6">
              <div class="card">
                <h3 class="card-title">Répartition par TVA</h3>
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <th>TVA</th>
                      <th>Type de paiement</th>
                      <th>Quantité</th>
                      <th>Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for (var i=0, l=stats.length; i<l; i++) { %>
                    <tr>
                      <td> <%= stats[i][0] %>% </td>
                      <td> <%= stats[i][1] %> </td>
                      <td> <%= stats[i][2] %> </td>
                      <td> <%= stats[i][3] %>€ </td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
              <div class="card">
                <h3 class="card-title">Répartition par catégorie</h3>
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <th>Catégorie</th>
                      <th>Quantité</th>
                      <th>Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for (var i=0, l=itemTypes.length; i<l; i++) { %>
                      <tr>
                        <td> <%= itemTypes[i].type %> </td>
                        <td> <%= itemTypes[i].nb %> </td>
                        <td> <%= itemTypes[i].totalPrice %>€ </td>
                      </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          <% } %>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/js/lib/bootstrap-native.min.js"></script>
  </body>
</html>
