<% include header %>
    <style>
        tr.deleted {
            font-style: italic;
            text-decoration: line-through;
        }
    </style>
  </head>
  <body class="fixed">
    <div class="wrapper">
      <% include navbar %>
      <!-- Side-Nav-->
      <input id="toggle-sidebar" type="checkbox">
      <aside class="main-sidebar hidden-print">
        <section class="sidebar">
          <!-- Sidebar Menu-->
          <ul class="sidebar-menu">
            <li><a href="/"><i class="fa fa-dashboard"></i><span>Tableau de bord</span></a></li>
            <li><a href="/search"><i class="fa fa-search-plus"></i><span>Recherche avancée</span></a></li>
            <li><a href="/add"><i class="fa fa-edit"></i><span>Ajouter un article</span></a> </li>
            <li class="active"><a href="/sales"><i class="fa fa-th-list"></i><span>Ventes</span></a></li>
            <li> <hr style="width:80%"> </li>
            <li><a href="/list"><i class="fa fa-file-text"></i><span>Articles</span></a></li>
            <li><a href="/zero"><i class="fa fa-repeat"></i><span>À renouveler</span></a></li>
            <li><a href="/ordered"><i class="fa fa-truck"></i><span>Commandés, en attente</span></a></li>
            <li><a href="/bestsales"><i class="fa fa-line-chart"></i><span>Meilleures ventes</span></a></li>
            <li><a href="/stats"><i class="fa fa-pie-chart"></i><span>Statistiques</span></a></li>
            <li><a href="/advanced"><i class="fa fa-laptop"></i><span>Avancé…</span></a></li>
          </ul>
        </section>
      </aside>
      <div class="content-wrapper">
          <div class="row">
              <div class="col-md-6">
                  <div class="card">
                      <h3 class="card-title">Répartition par TVA</h3>
                      <table class="table table-condensed">
                          <thead>
                              <tr>
                                  <th>TVA</th>
                                  <th>Type de paiement</th>
                                  <th>Quantité</th>
                                  <th>Total</th>
                              </tr>
                          </thead>
                          <tbody>
                            <% var keys = Object.keys(tva);
                            for (var i=0; i < keys.length; i++) {
                                var key = keys[i].split(',')
                            %>
                            <tr>
                                <td> <%= key[0] %> </td>
                                <td> <%= key[1] %> </td>
                                <td> <%= tva[keys[i]].count %> </td>
                                <td> <%= tva[keys[i]].total.toFixed(2) %>€ </td>
                            </tr>
                            <% } %>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
        <div class="row">
            <div class="card">
                <h3 class="card-title">Vente du <%= date %> (<%= salesCount %>)</h3>
                <form action="" method="post">
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Auteur</th>
                            <th>Quantité</th>
                            <th>Prix total</th>
                            <th>TVA</th>
                            <th>Paiement</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <%
                            var undefCart = {equals:x=>!x}
                            var cartId = items[0] && items[0].cartId || undefCart
                            var style = ''
                            for (var i=0; i < items.length; i++) {
                                var item = items[i]
                                if (!cartId.equals(item.cartId)) {
                                    style = style === '' ? 'info' : ''
                                }
                                cartId = item.cartId || undefCart
                            %>
                                <tr class="<%= style %><%= item.deleted ? ' deleted' : '' %>">
                                    <td>
                                        <% if (item.author) { %>
                                        <a href="/show/<%=item._id%>" title="Voir l'article"><%= item.title %></a>
                                        <% } else { %>
                                        <%= item.title %>
                                        <% } %>
                                    </td>
                                    <td> <%= item.author %> </td>
                                    <td> <%= item.quantity || 1 %></td>
                                    <td> <%= item.price.toFixed(2) %>€ </td>
                                    <td> <%= item.tva %>% </td>
                                    <td> <%= item.type %> </td>
                                    <td>
                                        <% if (!item.deleted) { %>
                                        <button value="<%=item.sale_item_id%>" type="submit" name="id"
                                            title="Supprimer" class="btn btn-warning btn-sm">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                        <% } %>
                                    </td>
                                </tr>
                        <% } %>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/js/lib/bootstrap-native.min.js"></script>
  </body>
</html>
